h1 {
    padding: 12px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    font-family: Arial, sans-serif;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    text-transform: uppercase;
}

td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}


tr:hover {
    background-color: #ddd;
}

#backToHomepage {
    margin-bottom: 20px;
}

#backToHomepage a {
    font-size: 18px;
    font-weight: bold;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#backToHomepage a:hover {
    background-color: #0056b3;
}