<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starting 11</title>
    <link rel="stylesheet" href="/style/StyleStartingEleven.css">
    <script src="/Scripts/StartingElevenScript.js"></script>
</head>
<body>
    <h1 id="backToHomepage"><a href="/homepage.html">Back</a></h1>
    <div id="StartingElevenDiv">
        <img id="SoccerField" src="/StartingElevenPictures/SoccerField.png" alt="Soccer Field">
        <form>
            <table>
                <thead>
                    <tr>
                        <th>Position</th>
                        <th>Search For Player</th>
                        <th>Player Name</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody id="table-body-Eleven">
                    
                </tbody>
            </table>
            <datalist id="allPlayers"></datalist>
        </form>
    </div>
</body>
</html>
