<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WhoAreYa</title>
    <link rel="stylesheet" href="/style/StyleWhoAreYa.css">
    <script src="/WhoAreYaScript.js"></script>
</head>
<body>
    <h1 id="backToHomepage"><a href="/homepage.html">Back</a></h1>
    <div>
        <input id="text-input" type="text" list="allPlayers" placeholder="Enter player's name">
        <datalist id="allPlayers"></datalist>
        <H1 id="guessesAmount"></H1>
    </div>

    <form>
        <div>
            <label for="playerName">Player Name: </label>
            <input type="text" id="playerName" readonly><br>
        </div>

        <div>
            <label for="shirtNumber">Shirt Number: </label>
            <input type="text" id="shirtNumber" readonly><br>
        </div>

        <div>
            <label for="playerAge">Player Age: </label>
            <input type="text" id="playerAge" readonly><br>
        </div>

        <div>
            <label for="playerCountry">Player Country: </label>
            <input type="text" id="playerCountry" readonly><br>
        </div>

        <div>
            <label for="club">Player Club: </label>
            <input type="text" id="club" readonly><br>
        </div>

        <div>
            <label for="position">Player Position: </label>
            <input type="text" id="position" readonly><br>
        </div>

        <div id="pic1">
            <img src="/ClubLogos/Arsenal.png" alt="">
            <img src="/ClubLogos/AstonVilla.png" alt="">
            <img src="/ClubLogos/Chelsea.png" alt="">
            <img src="/ClubLogos/Liverpool.png" alt="">
            <img src="/ClubLogos/ManchesterCity.png" alt="">
            <img src="/ClubLogos/Newcastle.png" alt="">
        </div>
  


    </form>
</body>
</html>